*.dSYM
.*.swp
*~
*.la
*.lo
*.o
*.core
dep/gtest-1.6.0/Makefile
dep/gtest-1.6.0/build-aux/config.h
dep/gtest-1.6.0/build-aux/stamp-h1
dep/gtest-1.6.0/config.log
dep/gtest-1.6.0/config.status
dep/gtest-1.6.0/fused-src/gtest/.deps/
dep/gtest-1.6.0/lib/
dep/gtest-1.6.0/libtool
dep/gtest-1.6.0/samples/.deps/
dep/gtest-1.6.0/samples/.dirstamp
dep/gtest-1.6.0/scripts/gtest-config
dep/gtest-1.6.0/src/.deps/
dep/gtest-1.6.0/src/.dirstamp
dep/gtest-1.6.0/test/.deps/
.DS_Store
autom4te.cache
/Makefile
/lib/Makefile
build-aux/config.h
build-aux/stamp-h1
config.log
config.status
libtool
.libs
.deps
.dirstamp
/tests/Makefile
/dep/gtest-1.6.0/samples/sample10_unittest
/dep/gtest-1.6.0/samples/sample1_unittest
/dep/gtest-1.6.0/test/fused_gtest_test
/dep/gtest-1.6.0/test/gtest_all_test
/tests/test_array
/tests/test_bitsequence
/tests/test_bitsequenceonelevelrank
/tests/test_codernone
/tests/test_ioh
/tests/test_libcdsh
/tests/test_mappernone
/tests/test_memorymanager
/tests/test_permutationmrrr
/tests/test_sequence
/tests/test_timeh
/tests/test_treelouds
/include/Makefile
